*{
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    margin: 0;
}

header{
    align-items: center;
    min-height: 100px;
    min-width: 100%;
    position: fixed;
}

header img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute ;
    border: 4px solid #141415;
    right: 45%
}

header h1{
    font-family: 'Rock Salt', cursive;
    font-size: 45px;
    display:inline-block;
    margin-left: 10rem;
    color:#aab195;
    /* background-color: #141415; */
    padding-left: 4px;
    padding-right: 4px;
    text-shadow: 1px 1px 2px black;
}   

header a:hover{
    color: yellow;
}

header li{
    float: left;
    margin-left:12%;
    font-size: 4em;
}

.header-list{
    list-style-type: none;
    margin: 0;
}

.header-list a{
    text-decoration: none; 
    color: #141415;

}

.fixedbutton {
    font-size: 40px;
    color: #aab195;
    position: fixed;
    bottom: 20px;
    right: 20px; 
    text-decoration: none;
    font-family: 'Rock Salt', cursive;
    text-shadow: 1px 1px 2px black;
}

.container {
    /* display: inline-block; */
    cursor: pointer;
    float: right;
    margin-top: 50px;
    margin-right: 100px;
}
  
.bar1, .bar2, .bar3 {
    width: 50px;
    height: 7px;
    background-color: #aab195;
    margin: 6px 0;
    /* box-shadow: -2px 2px 4px black; */
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-405deg) translate(-12px, 6px);
    transform: rotate(-405deg) translate(-12px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

.button:hover{
    color: black;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
    box-shadow: -2px 2px 4px black ;

}

.card-container{
    max-width: 33.33%;
    /* margin-top: 50px; */
    display: inline-block;
    margin: auto;
}

.card-image{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 black;
    height: 80%;
    background-size: cover;
    border-radius: 100%;
}

#myVideo {
    width:50%;
    right: 0;
    bottom: 0;
    min-width:100%;
    
  }